.listContainer {
    width: 100%;
    height: auto;
}

.bar {
    margin-top: 1%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--fontContrast);
    height: min-content;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    padding-bottom: 1%;
}
.bar span {
    color: var(--fontContrast);
}
.agregarTxt {
    opacity: 0.6;
    cursor: pointer;
}
.agregarBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: min-content;
    padding: .5vw;
    border: var(--fontContrast) solid 2px;
    border-radius: 10px;
}
.agregarBtn button {
    font-family: var(--font);
    font-size: var(--mediumSize);
}
.ordenarBtn {
    display: flex;
    height: min-content;
    width: min-content;
    align-items: center;
    justify-content: center;
}
.filterBox {
gap: 7%;
width: 25%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;

}
.filterBox button {
    font-family: var(--font);
font-size: var(--mediumSize);
}
.category {
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 6%;
    grid-auto-flow: column;
    font-family: var(--font);
   
    
}
.category div {
    overflow-wrap: break-word;  
  word-break: break-word;     
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 1.5vmin;
    justify-content: flex-start;
    border: 1px inset #0000004d;
    border-left: none;
}
.category span {
    cursor: pointer
}

.end {
    border-right: none;
}

.listTable {
    font-family: var(--font);
    width: 100%;
    
}
.listTableTitle {
    font-weight: bold;
    margin: 0.5%;
}
.table span {
cursor: pointer;
}

hr {
    opacity: 0.3
}

.table p {
padding-left: 1.5vmin;
color: var(--fontContrast);
opacity: 47%;
cursor: pointer;

}
.tasks {
    max-height: 1000vh;
    height: auto;
    transition: var(--easeTransition);
}
.tasksCollapsed {
    transition: var(--easeTransition);
    transform-origin: top;
    transform: scaleY(0);
    max-height: 0px;
}
.title {
    opacity: 100% !important;
    transition: var(--easeTransition);
}
.title-checked {
    text-decoration: line-through;
    opacity: 100% !important;
    transition: var(--easeTransition);
}

.end span {
    cursor: pointer;
}

.colored {
    border-radius: 10px;
    margin: 0px;
    height: 3rem;
    width: 5rem;
    display: flex;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
}

.high {
    background-color: #D2C1B7;
}
.mid {
    background-color: #D6C292;
}
.low { 
    background-color: #FEF9EC;
}

.pending { 
    background-color: #CD8E8E;
}
.resolved {
    background-color: #758136C7;
}

.progress {
    background-color: #E5E579;
}