
  :root {
    --secondaryColor: #AFC8BD;
    --mainColor: #FFFFF7;
    --fontContrast: #000;
    --tertiaryColor: #678C99;
    --darkerTertiaryColor: #C3CCAE;
    --textColor: rgb(255, 255, 255);
    --font: 'inter';
    --classyFont: 'Castoro Titling';
    --smallerHeaderSize: .7rem;
    --headerSize: 1.3rem;
    --mediumSize: 1.1;
    --biggerHeaderSize: 2.5rem;
    --defaultFontWeight: 300;
    --decal: #575F1082;
    --errorColor: #B20000;
    --linkColor: #4240BE;
    --easeTransition: ease .15s all;
    --slowerTransition: ease .3s all;
    --dfBoxShadow: 0px 4px 28px -3px rgba(0, 0, 0, 0.37);
  }
  .material-symbols-outlined {
    user-select: none;
  }
  body {
    overflow-x: hidden;
    height: 100%;
    width: 100%
  }
  input::placeholder {
    color: var(--tertiaryColor);
    user-select: none;
    opacity: 50%;
    font: var(--font);
    font-style: italic;
  }
  input:focus {
    outline: none;
  }