.bg {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.442);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputModal {
  font-family: var(--font);
  background-color: var(--mainColor);
  height: fit-content;
  width: 20vw;
  padding: 15%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vh;
  box-sizing: border-box;
}
.baseSubmit {
  background-color: var(--secondaryColor);
  padding: 3%;
  width: 80%;
  text-align: center;
  border-radius: 15px;
  transition: var(--easeTransition);
}
.baseSubmit:hover {
  background-color: var(--tertiaryColor);
}
.inputModal select,
.inputModal input {
  padding: 3%;
  width: 100%;
  border-radius: 5px;
  border: solid black 2px;
  font-family: var(--font);
}

.baseModalBody {
  font-family: var(--font);
  background-color: var(--mainColor);
  box-sizing: border-box;
  border-radius: 25px;
  min-width: 25%;
  min-height: 50%;
  height: fit-content;
  width: fit-content;
  padding: 2%;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
gap: 5vh;
}
.kbModal {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
gap: 2vh;
}

.logoutBtn {

  color: red;

}

.AccountModal {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

}
.userName {
  display: flex;
  gap: 10%;
  font-size: var(--headerSize);
}
.userName img{
height: 7rem;
width: auto;

}
.accountModalBody{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--mainColor);
  padding: 1%;
  box-sizing: border-box;
  border-radius: 20px;
  height: auto;
  width: 20rem;
  position: absolute;
  top: 10%;
  right: 5%;
  box-shadow: var(--dfBoxShadow);
}

.deleteTaskBtn {
    display: flex;
    background-color: var(--secondaryColor);
    padding: 2%;
    width: 50%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: red
}

.selected {

  border: rgba(0, 0, 0, 0.582) 3px solid;
  border-radius: 25px;
}

.palleteBox {
  gap: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vw
}