.bg {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.442);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.IaSubText {
  opacity: 0.7;
  font-size: calc(var(--headerSize) * 0.7);
  color: red;
}
.eventModal span {
  position: absolute;
  top: -50%;
  right: -25%;
  cursor: pointer;
  color: red
}
.eventModal {
  position: relative;
  
}
.calendarModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vh;
}
.calendarModal div {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 
.calendarModal input {
  box-sizing: border-box;
  width: 15rem;
  border: solid 2px;
  padding: 4%;
  border-radius: 15px;
  margin-top: .5rem;
}
.inviteModal {

  display: flex;
  flex-direction: column;
  align-items: center;
}
.inviteModal div {
  width: min-content;
}
.inviteModal input {
  box-sizing: border-box;
  width: 15rem;
  border: solid 2px;
  padding: 5%;
  border-radius: 15px;
  margin-top: .5rem;
}
.inviteModal label {
  margin-left: .75rem;
  opacity: 0.8;
}
.inputModal {
  font-family: var(--font);
  background-color: var(--mainColor);
  height: fit-content;
  width: 20vw;
  padding: 15%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vh;
  box-sizing: border-box;
}
.baseSubmit {
  background-color: var(--secondaryColor);
  padding: 3%;
  width: 80%;
  text-align: center;
  border-radius: 15px;
  transition: var(--easeTransition);
}
.baseSubmit:hover {
  background-color: var(--tertiaryColor);
}
.inputModal select,
.inputModal input {
  padding: 3%;
  width: 100%;
  border-radius: 5px;
  border: solid black 2px;
  font-family: var(--font);
}

.baseModalBody {
  font-family: var(--font);
  background-color: var(--mainColor);
  box-sizing: border-box;
  border-radius: 25px;
  min-width: 25%;
  min-height: 50%;
  height: fit-content;
  width: fit-content;
  padding: 2%;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
gap: 5vh;
}
.kbModal {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
gap: 2vh;
}

.kbModal input {
  padding: 2%;
  width: 15rem;
  border-radius: 10px;
  border: solid black 2px;
  font-family: var(--font);
}
.kbModal select {
  padding: 2%;
  width: 15rem;
  border-radius: 10px;
  border: solid black 2px;
  font-family: var(--font);
}

.logoutBtn {
  display: flex;
  align-items: center;
  color: red;
}
.editBtn {
  display: flex;
  align-items: center;
}

.userName {
  
  display: flex;
  gap: 10%;
  font-family: var(--font);
  font-size: var(--headerSize);
}
.userName p {
  white-space: nowrap;
    max-width: 8rem;
    text-overflow: ellipsis;      
    overflow: hidden;
}

.userName {img, input{
height: 7rem;
width: auto;
}}
.accountModalBody{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--mainColor);
  padding: 1%;
  box-sizing: border-box;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: auto;
  width: 20rem;
  position: absolute;
  top: 12%;
  right: 5%;
  box-shadow: var(--dfBoxShadow);
}
.baseModalTitle {
  font-size: calc(var(--headerSize) * 1.2);
  font-weight: bold;
 
}
.wrap {

   white-space: nowrap;
    max-width: 20rem;
    text-overflow: ellipsis;      
    overflow: hidden;

}

.deleteTaskBtn {
    display: flex;
    background-color: var(--secondaryColor);
    padding: 2%;
    width: 50%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: red
}

.selected {

  border: rgba(0, 0, 0, 0.582) 3px solid;
  border-radius: 25px;
}

.palleteBox {
  gap: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vw
}
.accountModalBody button {
  font-family: var(--font);
}

.accModalBtns {
  margin-top: 10%;
  display: flex;
  gap: .5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.email {
  
  opacity: 0.7;
  font-size: .9rem
}
.configModalBody {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.configModalBody div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
width: 25rem  }
.configModalBody input {
  padding: 2%;
  border-radius: 10px;
  border: solid black 2px;
  font-family: var(--font);
}

.workHours {
  flex-direction: row !important;
  gap: .5rem !important;
}
.workHours input {
  width: 7rem;
}